
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {


 font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
--background:  #1b1b1b;
--primary: #a1f771;
--secondary: #2FD7D8;
--text: rgba(243, 246, 242, 0.8);


}


a {
  text-decoration: inherit;
  color: var(--text);
}



body {
  background-color: var(--background);
}









/* inicio */

.Inicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  position: relative;
  background-image: url('../img/fondo.png'); ;
 
}


.Inicio-img{
  width: 70%;
  

}

.Titulo{
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 35%;
}


.Intro-button{
  padding: 0.7rem 1.5rem;
  background:none;
  border: 1px solid var(--secondary);
  color: var(--text);
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 8px;
  transition: transform 0.3s ease, border 0.3s ease;
  cursor: pointer;
  
}


.Intro-button:active{
  transform: scale(0.8);
}

.Intro-button:hover{
  border: 1px solid var(--primary);
}


.Inicio-img2{
  width: 15%;
}

.Meeseeks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Circle{
  width: 25%;
  height: 3.5px;
  background-color: #72cf41;
  border-radius: 100%;
  box-shadow: 10px 10px 20px #a1f771 ;
}

/* Página personajes */


.Main-personajes{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
  
}

.Paginacion{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


.Pag-personajes{


  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;

}


.Main-h1{
  color: var(--text);
  font-size: 2.5rem;
  letter-spacing: 3px;
}



/* Episodios */

.Galeria-episodios{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 7rem;
}